/emsdk
/web/localhost-key.pem
/web/localhost-cert.pem
/web/run.bat
.prettierrc
.vscode
src/ribbit/build/
web/scraps/*
web/scraps/.*
src/ribbit/out/
src/ribbit/out/build/
src/ribbit/out/install/
src/ribbit/CMakeFiles/
src/ribbit/CMakeUserPresets.json
src/ribbit/CMakePresets.json
src/ribbit/CMakeUserPresets.json
src/ribbit/CMakePresets.json
src/ribbit/build
src/ribbit/CMakeFiles
src/ribbit/CMakeUserPresets.json
src/ribbit/CMakePresets.json
web/node_modules/
web/playwright-report/
web/test-results/
.cursor/
Docs/.obsidian/
.DS_Store
