#settings {
    background: var(--dark-green);
}
#settings * {
    padding: 1svh;
    box-sizing: border-box;
    width: 100%;
    border-radius: 1dvi;
    font-size: 3svw;
}
#settings > .page {
    display: flex;
    flex-direction: column;
}
#settings > .page-content {
    background: var(--dark-green);
    color: var(--light-green);
    display: flex;
    flex-direction: column;
    padding: 1svh 4svw;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    transition: top .3s ease-in;
    z-index: 2;
    font-family: 'NotoSansDisplay-Bold';
}
#settings > .page > input {
    display: none;
}
#settings > .page > label {
    text-align: center;
    font-size: 4svw;
    font-weight: bold;
    color: var(--light-green);
    text-decoration: underline;
}
#settings > .page > label:has(+ input:checked) {
    background: var(--middle-green);
    color: var(--light-green);
    border-radius: 1.5dvi 1.5dvi 0dvi 0dvi;
}
.setting {
    display: flex;
    justify-content: space-between;
    gap: 1svh;
}
.setting > label {
    color: var(--light-green);
}
.page-content > h2 {
    color: var(--light-green);
    font-size: 3dvi;
    text-align: center;
}
.setting > button,
.setting > select,
.setting > input,
.setting > input:enabled {
    text-align: left;
    background-color: var(--light-green);
    color: var(--dark-green);
    border: none;
}
.setting > button {
    background: var(--dark-green);
    color: var(--light-green);
    border-radius: 0;
    border: 1px solid var(--light-green);
}
.setting > #cancel,
.setting > #close {
    text-align: center;
}
.setting > #close {
    background: var(--light-green);
    color: var(--dark-green);
}

#settings > .page > .page-content {
    display: none;
}
#settings > .page > input:checked + .page-content {
    display: block;
    background: var(--middle-green);
    border-radius: 0 0 1.5dvi 1.5dvi;
}
#settings > .page > .setting > #cancel,
#settings > .page > .setting > #close {
    width: 50%;
}
@media (min-aspect-ratio: 1/1) {
    #settings > .page > label {
        font-size: 4svh;
    }
    .setting > label {
        font-size: 4svh;
    }
    .setting > * {
        font-size: 3svh;
    }
}

.setting > label:hover + .info,
.setting > label:focus + .info,
.setting > label:active + .info,
.setting > label:focus-within + .info,
.setting > button:hover + .info {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100svw;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    border: none !important;
    color: var(--dark-green);
    border: 1dvi solid var(--dark-green);
    margin: 0;
    padding: 0 !important;
}
.setting > .info {
    display: none;
}
.setting > .info > p {
    background: white;
    color: var(--dark-green);
    font-size: 3svw;
    margin: 0;
    padding: 0;
    padding: 1svh;
    box-sizing: border-box;
    width: 60% !important;
    border-radius: 0 0 2dvi 2dvi !important;
}
.setting > .info > p:before {
    content: '📝';
    font-size: 3svw;
}
