#titlebar {
    background: var(--primary);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px var(--shadow);
    font-family: "NotoSansDisplay-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 2svh;
    color: var(--background);
    z-index: 200;
    height: 4svh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    transition: var(--transition);
}
#titlebar>*{
    font-size: 2svh;
    padding: 0 1svw;
}
#titlebar>#modeTitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

#titlebar>#modeTitle>svg {
    height: 4svh;
    width: 4svh;
    cursor: pointer;
    transition: var(--transition);
    fill: var(--background);
}

#titlebar>#modeTitle>svg:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#titlebar>#modeTitle>svg:active {
    transform: scale(0.95);
}
